#header__date {
  color: rgb(221, 221, 34);
}

.header {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;

  .container {
    position: relative;
    display: grid;
    justify-content: center;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
  }

  &__image {
    height: 200px;
    justify-self: center;
    margin-bottom: 20px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__infos {
    background-color: #fff;
    color: #000;
    display: flex;
    gap: 30px;
    padding: 12px 32px;
    border-radius: 8px;

    &__button {
      background-color: rgb(28, 104, 155);
      text-decoration: none;
      display: block;
      padding: 12px 8px;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
      border-radius: 8px;
      align-self: center;
      color: rgb(218, 233, 245);

      &:hover {
        content: "manda zap";
        background-color: #3db84d;
      }
    }
  }

  @media (max-width: 700px) {
    &__infos {
      flex-direction: column;
      gap: 8px;
      max-width: 400px;
      margin: 0 auto;

      &__item {
        border-bottom: 1px solid #ccc;
        padding-bottom: 4px;
      }

      &__button {
        margin-top: 8px;
      }
    }
  }
}
